.mute {
  width: 100vw;
  height: 100vh;
  background-color: royalblue;
}
.startBattle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.portrait img {
  width: 150px;
  height: 280px;
  border-radius: 15px;
  border: 5px double #281702;
}
.live {
  background-color: #d62728;
}
.logLarge {
  width: 570px;
  height: 70px;
  border: 5px double #281702;
  border-radius: 10px;
  font-size: 20px;
}
.logLarge #animated {
  width: 570px;
  height: 70px;
  text-align: center;
  line-height: 1.5;
}
.logSmall {
  width: 570px;
  height: 350px;
  border: 5px double #281702;
  border-radius: 10px;
  background-color: #d4d4d4;
  text-align: center;
}
.tablecube {
  float: left;
  position: relative;
  width: 300px;
  height: 180px;
  z-index: 0;
  border: 5px double #281702;
  border-radius: 10px;
}
.attTable {
  background-color: firebrick;
}
.defTable {
  background-color: darkgreen;
}
.cube {
  position: absolute;
  background-color: white;
  width: 20px;
  height: 20px;
  z-index: 1;
  font-size: 12px;
  text-align: center;
  color: black;
  box-shadow: 2px 2px gray;
  border-radius: 3px;
}
.damage {
  color: crimson;
  z-index: 3;
}
